---
layout: page
title: "About"
description: "This is Who I am!"
header-img: "img/about-bg.jpg"
multilingual: true
---

<!-- Language Selector 
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> Korean </option>
    <option value="1"> English </option>
</select>
-->

<div class="zh post-container">
    뭘 아는지도 모르는지도 모르는 초심자입니다.
</div>

<!-- English Version 
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>
-->


{% if site.disqus_username %}
<!-- disqus tart -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus start -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://soph0610-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<!-- disqus end -->
{% endif %}
